.main {
    height: 100vh;
    position: relative;
    background: radial-gradient(#99784A 0%, #E9AB57 33%, #FFC77C 65%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main__content {
        width: 80%;
        margin: 0 auto;
        font-family: "Be Vietnam Pro";

        h1 {
            font-size: 3rem;
            margin: 0;
            color: white;
        }

        .filter {
            color: white;
            margin: 15px 0;
        }

        .reserva_collapse {
            border: 1px solid #ddd;
            margin-bottom: 10px;
            border-radius: 5px;
            overflow: hidden;
            background: #fff;
            font-family: 'Be Vietnam Pro';

            summary {
                background-color: #f2f2f2;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
            }

            .reserva__detalles {
                padding: 10px;
                background: #fff;
            }
        }
    }
}

// .mesa.selected {
//     background-color: #80E1F3;
// }