header {
    display: block;
    unicode-bidi: isolate;
}

.header {
    position: fixed;
    width: 100%;
    background-color: $header__background;
    z-index:500;
    display: flex;
    padding: 1% 0;

    .header__content {
        display: inline-flex;
        padding: 1% 35px;
        width: 100%;
        align-items: center;
        color: $header__color;

        .header__logo {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            
            svg {
                fill: $header__color;
                width: 50px;
                margin-bottom: 10px;
            }

            h2 {
                font-size: $header__logo-font__size;
                font-family: $font__noto;
                margin: 0;
            }
        }

        .header__nav {
            .header__menu {
                display: flex;
                gap: 50px;
                align-items: center;
                padding: 0;
                margin: 0;

                .header__item {
                    list-style-type: none;
                    font-size: $header__item-font__size;
                    text-transform: uppercase;
                    font-weight: 600;

                    .header__link {
                        @include links__header;
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            color: $header__link-color__hover;  
                        }
                    }
                }
            }
        }

        .header__acc {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .header__admin {
                border-radius: 50%;
                display: flex;
                padding: 9px;
                transition: all .3s ease-in-out;
                svg {
                    width: 28px;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    background-color: $header__color;
                    svg {
                        fill: $header__background;
                    }
                }
            }
        }
    }
}