@charset "UTF-8";
header {
  display: block;
  unicode-bidi: isolate;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 500;
  display: flex;
  justify-content: center;
}
.header .header__content {
  width: 1180px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 999px;
  margin-top: 1.5rem;
  color: #fff;
  background-color: #EC4826;
  box-shadow: 0 4px 4px rgba(119, 43, 14, 0.3);
}
.header .header__content .header__logo {
  display: flex;
  width: 64px;
}
.header .header__content .header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header__content .header__nav .header__menu {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .header__content .header__nav .header__menu .header__item {
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-weight: medium;
  font-size: 24px;
  padding: 0 2rem;
}
.header .header__content .header__nav .header__menu .header__item .header__link {
  all: unset;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.header .header__content .header__nav .header__menu .header__item .header__link:hover {
  color: #0f0f0f;
}
.header .header__content .header__nav .header__menu .header__item.active {
  color: white;
}
.header .header__content .header__nav .header__menu .header__item.disble {
  color: #EAB5A1;
}
.header .header__content .header__acc {
  display: flex;
  justify-content: flex-end;
}
.header .header__content .header__acc .header__admin {
  border-radius: 50%;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.header .header__content .header__acc .header__admin svg {
  width: 40px;
  transition: all 0.3s ease-in-out;
}
.header .header__content .header__acc .header__admin:hover svg path {
  fill: #0f0f0f;
}

.home__hero {
  position: relative;
  height: 100vh;
  min-height: 55rem;
  max-height: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#7a5f37 0%, #E9AB57 33%, #FFC77C 65%);
  background-position: center;
  color: #fff;
}
.home__hero .home__content {
  margin-top: 1rem;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.home__hero .home__content .home__title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 180px;
  text-align: center;
  margin: 0;
  margin-bottom: -155px;
  white-space: nowrap;
}
.home__hero .home__content .hero__img {
  margin-left: 5rem;
  width: 800px;
}
.home__hero .home__content .hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home__hero .home__content .home__info {
  margin-top: -170px;
  text-align: center;
  color: #FFEED7;
  margin-bottom: -50px;
}
.home__hero .home__content .home__info .home__description {
  width: 50ch;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: -60px;
}
.home__hero .home__content .home__info .home__description_cta {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #772B0E;
}
.home__hero .home__content .home__button {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: #EC4826;
  box-shadow: inset 1px 4px 8px 2px rgba(119, 43, 14, 0.6), inset -3px -2px 8px 0 #ffbc51, 0 4px 4px rgba(119, 43, 14, 0.25);
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.home__hero .home__content .home__button:hover {
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 16px;
  background-color: #8A2F1C;
  box-shadow: inset 1px 4px 8px 2px rgba(119, 43, 14, 0.6), inset -3px -2px 8px 0 #ffbc51, 0 4px 4px rgba(119, 43, 14, 0.25);
  color: #EAB5A1;
}

.reserva {
  display: flex;
}
.reserva .reserva__fecha {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.reserva .reserva__fecha .reserva__fecha-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.reserva .reserva__fecha .reserva__fecha-title h2 {
  margin: 0;
  display: flex;
  align-items: center;
}
.reserva .reserva__fecha .ui-datepicker {
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reserva .reserva__fecha .ui-datepicker-header {
  background: #FFC77C;
  color: white;
  font-size: 18px;
}
.reserva .reserva__fecha .ui-datepicker-calendar th {
  background-color: #f1f1f1;
  font-weight: bold;
}
.reserva .reserva__fecha .ui-datepicker td {
  text-align: center;
  padding: 5px;
}
.reserva .reserva__fecha .ui-datepicker .ui-datepicker-buttonpane {
  background-color: #f9f9f9;
}
.reserva .reserva__hora {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.reserva .reserva__hora .reserva__hora-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.reserva .reserva__hora .reserva__hora-title h2 {
  margin: 0;
  display: flex;
  align-items: center;
}
.reserva .reserva__hora .horario {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.reserva .reserva__hora .horario-ocupado {
  background-color: #dc3545;
  cursor: not-allowed;
}
.reserva .reserva__hora .horario-reservado {
  background-color: #ffc107;
  cursor: not-allowed;
}

.ui-datepicker {
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ui-datepicker-header {
  background-color: #007BFF;
  color: white;
  font-size: 18px;
}

.ui-datepicker-calendar th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.ui-datepicker td {
  text-align: center;
  padding: 5px;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-color: #f9f9f9;
}

/* Estilos para los botones de horarios */
.horario {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.horario-ocupado {
  background-color: #dc3545;
  cursor: not-allowed;
}

.horario-reservado {
  background-color: #ffc107;
  cursor: not-allowed;
}

/* Estilos para el formulario */
.formulario {
  margin-top: 20px;
}

.formulario input, .formulario select {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

/* Mesas visualización */
.mesa {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #28a745;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.mesa-ocupada {
  background-color: #dc3545;
  cursor: not-allowed;
}

.mesa-reservada {
  background-color: #ffc107;
}

.hidden {
  display: none;
}

.main {
  height: 100vh;
  position: relative;
  background: radial-gradient(#99784A 0%, #E9AB57 33%, #FFC77C 65%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .main__content {
  width: 80%;
  margin: 0 auto;
  font-family: "Be Vietnam Pro";
}
.main .main__content h1 {
  font-size: 3rem;
  margin: 0;
  color: white;
}
.main .main__content .filter {
  color: white;
  margin: 15px 0;
}
.main .main__content td {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3";
}

strong {
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */