@charset "UTF-8";
header {
  display: block;
  unicode-bidi: isolate;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #000;
  z-index: 500;
  display: flex;
  padding: 1% 0;
}
.header .header__content {
  display: inline-flex;
  padding: 1% 35px;
  width: 100%;
  align-items: center;
  color: #fff;
}
.header .header__content .header__logo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.header .header__content .header__logo svg {
  fill: #fff;
  width: 50px;
  margin-bottom: 10px;
}
.header .header__content .header__logo h2 {
  font-size: 1.5rem;
  font-family: "Noto Sans";
  margin: 0;
}
.header .header__content .header__nav .header__menu {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header .header__content .header__nav .header__menu .header__item {
  list-style-type: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.header .header__content .header__nav .header__menu .header__item .header__link {
  all: unset;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.header .header__content .header__nav .header__menu .header__item .header__link:hover {
  color: rgb(222, 67, 72);
}
.header .header__content .header__acc {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header .header__content .header__acc .header__admin {
  border-radius: 50%;
  display: flex;
  padding: 9px;
  transition: all 0.3s ease-in-out;
}
.header .header__content .header__acc .header__admin svg {
  width: 28px;
  transition: all 0.3s ease-in-out;
}
.header .header__content .header__acc .header__admin:hover {
  background-color: #fff;
}
.header .header__content .header__acc .header__admin:hover svg {
  fill: #000;
}

.home__hero {
  background-color: rgb(222, 67, 72);
  color: #fff;
  background-position: center;
  height: 100vh;
  min-height: 55rem;
  max-height: 120rem;
  position: relative;
}
.home__hero .home__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.home__hero .home__content .home__title {
  text-transform: uppercase;
  font-family: "Noto Sans";
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}
.home__hero .home__content .home__info {
  width: 80%;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}
.home__hero .home__content .home__button {
  all: unset;
  cursor: pointer;
  width: 15%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}
.home__hero .home__content .home__button:hover {
  background-color: #fff;
  color: #000;
}

.reserva {
  display: flex;
}
.reserva .reserva__fecha {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.reserva .reserva__fecha .reserva__fecha-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.reserva .reserva__fecha .reserva__fecha-title h2 {
  margin: 0;
  display: flex;
  align-items: center;
}
.reserva .reserva__fecha .ui-datepicker {
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reserva .reserva__fecha .ui-datepicker-header {
  background: #FFC77C;
  color: white;
  font-size: 18px;
}
.reserva .reserva__fecha .ui-datepicker-calendar th {
  background-color: #f1f1f1;
  font-weight: bold;
}
.reserva .reserva__fecha .ui-datepicker td {
  text-align: center;
  padding: 5px;
}
.reserva .reserva__fecha .ui-datepicker .ui-datepicker-buttonpane {
  background-color: #f9f9f9;
}
.reserva .reserva__hora {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.reserva .reserva__hora .reserva__hora-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.reserva .reserva__hora .reserva__hora-title h2 {
  margin: 0;
  display: flex;
  align-items: center;
}
.reserva .reserva__hora .horario {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.reserva .reserva__hora .horario-ocupado {
  background-color: #dc3545;
  cursor: not-allowed;
}
.reserva .reserva__hora .horario-reservado {
  background-color: #ffc107;
  cursor: not-allowed;
}

.ui-datepicker {
  font-size: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ui-datepicker-header {
  background-color: #007BFF;
  color: white;
  font-size: 18px;
}

.ui-datepicker-calendar th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.ui-datepicker td {
  text-align: center;
  padding: 5px;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-color: #f9f9f9;
}

/* Estilos para los botones de horarios */
.horario {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.horario-ocupado {
  background-color: #dc3545;
  cursor: not-allowed;
}

.horario-reservado {
  background-color: #ffc107;
  cursor: not-allowed;
}

/* Estilos para el formulario */
.formulario {
  margin-top: 20px;
}

.formulario input, .formulario select {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}

/* Mesas visualización */
.mesa {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #28a745;
  text-align: center;
  line-height: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.mesa-ocupada {
  background-color: #dc3545;
  cursor: not-allowed;
}

.mesa-reservada {
  background-color: #ffc107;
}

.hidden {
  display: none;
}

.admin {
  min-height: 60rem;
  position: relative;
  background: radial-gradient(#99784A 0%, #E9AB57 33%, #FFC77C 65%);
  text-align: center;
}
.admin .container {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.admin .container td {
  background-color: white;
}

.mesa.ocupada {
  background-color: #ccc;
  cursor: not-allowed;
}

.mesa.selected {
  background-color: #80E1F3;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3";
}

strong {
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */